.personajedragonballz{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    padding: 70px;
}

.personajedragonballz > div{
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
    overflow: visible;
}

.personajedragonballz > div:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
}

.imagen-container{
    width: 80%;
    height: 250px;
    overflow: visible;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-container img{
    width: 200%;
    height: 100%;
    object-fit: contain;
    transition: transform .4s ease;
}

.imagen-container:hover img{
    transform: scale(1.1) rotateY(12deg);
}

.personajedragonballz h2{
    margin: 5px 0;
    font-size: 20px;
}

.info-personajedragonballz{
    width: 100%;
    list-style: disc;
    text-align: left;
    margin: 2px 0;
    padding-left: 55px;
}

.info-personajedragonballz li{
    margin: 5px 0;
    font-size: 18px;
}

.personajedragonballz > div:hover .imagen-container img{
    transform: scale(1.3) translateY(-15px);
    z-index: 10;
    position: relative;
}